In [ ]:
#Creating sample tables 
import sqlite3
#Establishing a DB connection 
connection = sqllite3.connect('{sourceLocation}')
#Creating cursour object 
coursour = connection.cursour()
#Writing SQL 
sql1 = '{Statement}'

In [ ]:
#Creating a sample table 
sql1 = '''
      CREATE TABLE EMPLOYEE(
      EMPID INT(6) NOT NULL,
      NAME CHAR(20) NOT NULL,
      AGE CHAR,
      )
'''
#Execution of SQL
cousour.execute(sql1)
#Closing connection 
connectionl.close()

In [ ]:
#Inserting Sample data 
#Establish connection
#Create a cursour object 

#Something new here 
data = (123,'Name',12,'M',123)
sql = '''
  insert into employee values (x,x,x,x,x)
  '''
try :
  cursour.execute(sql,data)
  connection.commit()
except Exception as e :
  print('Error occured :',str(e))
  connection.rollback()

#close connection now

In [ ]:
#fetching data 
sql = 'select * from employees where age > 60'
try :
  cousour.execute(sql)
except exception as e :
  print('something went wrong')